// ## Colors

// ### Primary

$copy-all: hsl(220, 98%, 61%);
$Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);



// ### Dark Theme

$bg-main: hsl(235, 21%, 11%);
$bg-main-wrapper: hsl(235, 24%, 19%);
$copy: hsl(234, 39%, 85%);
$copy-hover: hsl(236, 33%, 92%);
$copy-item: hsl(234, 11%, 52%);
$copy-item2: hsl(233, 14%, 35%);
$bg-main-wrapper2: hsl(237, 14%, 26%);

