.wrapper {
    

    &__items {

        width: 90vw;
        height: 80px;
        border-radius: 0px 0px 8px 8px;

        margin: 0 auto;

        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;

        background-color: $bg-main-wrapper;

        display: flex;
        justify-content: space-between;

        li {
            color: $copy-item;
            list-style-type: none;
            text-decoration: none;
        }

        li:hover {
            color:white;
        }


        @include media ('desktop') {
            display: none;
            width: 40%;  
             
            }

    }

    &__all {

        width: 90vw;
        height: 80px;
        border-radius: 8px 8px 8px 8px;

        margin: 0 auto;
        margin-top: 2rem;

        padding-top: 2rem;
        padding-left: 8rem;
        padding-right: 8rem;

        

        background-color: $bg-main-wrapper;

        display: flex;
        justify-content: space-around;

        li {
            color: $copy-item;
            text-decoration: none;
            list-style-type: none;

            font-size: 1.5rem;
        }

        li:hover {
            color:blue;
        }


        @include media ('desktop') {
            width: 40%; 
            display: none;
            }
        }        


    &__desktop {

        display: none;


        @include media ('desktop') {
            width: 40vw;
            height: 80px;
            border-radius: 8px 8px 8px 8px;

            margin: 0 auto;

            padding: 2rem;
            
            background-color: $bg-main-wrapper;

            display: flex;
            justify-content: space-between;

        li {
            color: $copy-item;
            text-decoration: none;
            list-style-type: none;

            font-size: 0.9rem;
            }

        li:hover {
            color:blue;
            } 
    }

        &__left {
        font-size: 2rem;
        }

    &__center {
        font-size: 3rem;
        text-align: center;
        padding-left: 2rem;
        }
}

    
    &__check {
        opacity: 1; //ein-/ausblenden Checkfeld
        }
      
    &__box {
        width: 60vw;
        height: 60%;
        border: 0;
        background: none;

        font-size: 1.2rem;
        font-family: 'Josefin Sans', sans-serif;
        color: $copy-item;

        margin-left: 1.4rem;
        margin-top: -1.2rem;


        @include media ('desktop') {
            width: 30vw;
            margin-left: 1rem;

            font-size: 1.5rem;
        }
        }
        
    }    


#checkbox2:checked + input {
    text-decoration: line-through;
    
    } 



    
  