#grid-container {
    // display: grid;
    // grid-template-columns: repeat (1, 100%);
    // grid-template-rows: 440px 250px 250px;
    // grid-gap: 30px;

@include media ('desktop') {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 50%);
    grid-gap: 30px;
    margin: 100px; 
    // display: flex;
    justify-content: center;
    align-items: center;
    }
}