.todo-list {
    background-color: $primary-dark-desaturated-blue;
    border-radius: 5px;

    &__list {
        list-style-type: none;
    }

    &__list-item {}

    &__footer {}

    &__status {}

    &__filter {}

    &__option {}


}