// Navigation

$nav-font: #000000;
$nav-hamburger: #000000;

// general
$font-positiv: #000000;
$font-negativ: #FFFFFF;

$first-bg-color: #292a2b;
$second-color: #6c6530;


//footer
$footer-bg: #6f6f6f;

