* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(204, 43%, 93%);

}


/* HEADER */



.hd-title {
    width: 40%;
    height: 39%;
    background-color: white;
    border-radius: 3%;
    padding: 30px 30px 0px 30px;
    position: absolute;
    margin-top: 50px;
    
    
}

.hd-title h1 {
    font-size: 1rem;
    margin-bottom: 15px;
    color: hsl(179, 62%, 43%);
    
}   

.hd-title p {
    font-weight: 400;
    font-size: 0.7rem;
    margin-bottom: 10px;
    line-height: 1rem;
    color: hsl(204, 43%, 93%); 
}

.hd-title p:last-child {
    color: hsl(71, 73%, 54%);
    
}

.box-left {
    width: 20%;
    height: 20%;
    background-color: hsl(179, 62%, 43%);
    padding: 30px;
    position: absolute;
    margin-top: 200px;
    border-radius: 0 0 0 3%;;
    
}

.box-left p {
    font-size: 0.7rem;
    color: white;
}

#bt {
    width: 150px;
    height: 30px;
    background-color:hsl(71, 73%, 54%);
    margin-top: 15px;
    border-radius: 5px;
    border: 0px solid hsl(71, 73%, 54%);
    color: white;
    
}

.box-right {
    width: 20%;
    height: 20%;
    background-color:hsl(179, 62%, 43%);
    opacity: 80%;
    position: relative;
    border-radius: 0 0 3% 0;
    margin-left: 289px;
    padding: 30px;
}

.box-right h4 {
    color: white;
    padding-bottom: 10px;
   
}

.box-right p {
    font-size: 0.7rem;
    color: white;
    line-height: 150%;;
}


