// ### Primary

$primary-color-cyan:hsl(179, 62%, 43%);
$primary-color-yellow:hsl(71, 73%, 54%);


// ### Neutral

$neutral-color-gray:hsl(204, 43%, 93%);
$neutral-color-blue:hsl(218, 22%, 67%);  
$neutral-color-white: white;