.single-price {
    
    display: grid;
    grid-template-columns: 330px;
    border-radius: 10px;
    overflow: hidden;

    @include media ('desktop') {
        display: flex;
        flex-direction: column;
        width: 660px;
    
    }
    
    
    &__join {
        
        background-color: $neutral-color-white;
        padding: 25px 20px 30px 20px;

    }

    &__title {
        font: {
            size: $font-title;
            weight:700;
        }
        color: $primary-color-cyan;
        margin-bottom: 15px;
    }

    &__undertitle {
        font: {
            size: $font-undertitle;
            weight: 700;
        }
        color: $primary-color-yellow;
        margin-bottom: 15px;
    }

    &__text {
        font: {
            size: $font-text;
            weight: 400;
        }
        line-height: 160%;
        color: $neutral-color-blue;
        margin-bottom: 5px;
        
    }
    
}
