* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-size: 1.2rem;
    font-family: 'Josefin Sans', sans-serif;
    background-color: hsl(236, 33%, 92%);
    color: hsl(235, 19%, 35%);

}


header {
    display: flex;
    justify-content: center;
}

.title {
    /* width: 100%; */
    font-size: 1.0rem;
    font-weight: 200;
    letter-spacing: .7rem;
    color: white;
    position: absolute;
    display: flex;
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 3rem 1rem 0rem 1rem;
}

.title img {
    width: 23px;
    height: 23px;
    margin-left: 9rem;
    
    

}







































/* NOT MY F..... SHIT*/
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

