* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: hsl(235, 21%, 11%);
    color: hsl(234, 11%, 52%);

}








































/* NOT MY F..... SHIT*/
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

