* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: hsl(204, 43%, 93%);

}

header {
    width: 100%;
    height: 300px;
    background-image: url(./images/bg-mobile-dark.jpg);
    background-repeat: no-repeat;
}

.todo h1 {
    color: white;
    padding-top: 50px;
    padding-left: 25px;
    font-weight: 400;
    font-size: 1.8rem;
    
}

.todo img {
    display: block;
    padding-left: 325px;
    margin-top: -30px;

}

main {
    display: grid;
    grid-template-columns: 420px;
    grid-template-rows: repeat(7, 40px) 30px;
}







































/* NOT MY F..... SHIT*/
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

