* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
    
}

.gray {
    color: hsl(0,0%, 59%);
}

.small {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 0.8em;
}

.copy-info {
    font-size: 0.7em;
    margin-top: 0;
    margin-bottom: 30px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

p b {
    font-size: 1em;
}

.space-right {
    padding-left: 5px;
}

.hero-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

main {
    width: 100%;
    height: 100vh;
    background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: -47rem -32rem, 8rem 19rem;
}

.profile-card-wrapper {
    width: 325px;
    height: 420px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
}

.user-wrapper {
    background-image: url("./images/bg-pattern-card.svg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex: 2 1 285px;
    border-radius: 0.5em 0.5em 0 0;
    
}

img {
    border-radius: 50%;
    border: 5px solid white;

}

.name-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.user-info-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 90px;
    padding-top: 25px;
    border-top: 1px solid hsl(0,0%, 90%);

}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen
    and (min-width: 500px)
    and (max-width: 1200px) {
        main {
            background-position: -39rem -32rem, 37rem 20rem;
        }
    }

@media screen
    and (min-width: 1200px) {
        main {
            max-width: 1440px;
            margin: 0 auto;
            background-position: -39rem -32rem, 37rem 20rem;
        }
        section {
            width: 100%;
            height: 720px;
        }
       
    }





